@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}

.App {
  width: 440px;
  background-color: #fff;
  border-radius: 32px;
}

nav {
  height: 40px;
  display: flex;
  padding: 10px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
  padding: 20px;
}

.Hero {
  display: flex;
  flex-direction: column;
}

.Hero img {
  max-width: 360px;
  align-self: center;
}

.Hero h1 {
  font-size: 20px;
  margin-top: 16px;
}

.Hero p {
  font-size: 12px;
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 120px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--stats img {
  width: 14px;
}

.gray {
  color: #918e98;
}

.bold {
  font-weight: bold;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}